/*
Theme Name:  Salient
Version:     11.0.1
Description: An Ultra Responsive Multi-Purpose Theme.
Theme URI:   https://themeforest.net/item/salient-responsive-multipurpose-theme/4363266
Author:      ThemeNectar
Author URI:  https://themeforest.net/user/themenectar
License:     Custom license
License URI: http://themeforest.net/licenses/terms/regular
Text Domain: salient
*/

/*-------------------------------------------------------------------------*/
/* Note: The theme CSS files are loaded through the /css/ folder. 
/*-------------------------------------------------------------------------*/
body span.icon-phone {
    background: none;
    height: 10px;
    line-height: 10px;
    font-size: 20px !important;
}

body span.icon-envelope {
    background: none;
    height: 10px;
    line-height: 10px;
    font-size: 20px !important;
		margin-left: 2%;

}

body #header-secondary-outer .nectar-center-text {
    font-size: 14px;
    line-height: 16px;
    max-width: 85%;
}

body[data-header-color="dark"] #header-secondary-outer .nectar-center-text {
	color: #fff;
}

#header-secondary-outer .nectar-center-text {
    text-align: right;
}

body.material #header-secondary-outer #social li a i {
    font-size: 16px;
    color: #fff;
}

body #header-secondary-outer .nectar-center-text {
    font-size: 14px;
    line-height: 16px;
    max-width: 85%;
}

body.material #header-secondary-outer {
    border-bottom: 1px solid #fff;
}
#header-outer #logo img, #header-outer .logo-spacing img {
    height: 60px;
}


/* a#logo {
    margin-top: 20px !important;
   margin-bottom: 20px!important;
} */

#header-secondary-outer[data-full-width="true"] >.container {
    width: 95%;
    max-width: 100%;
    padding: 0 28px;
}

body[data-header-color="dark"] #top nav ul li a {
	color: #fff;
}

body[data-header-resize="1"] .container-wrap, body[data-header-resize="1"] .project-title {
    margin-top: 0;
    padding-top: 0px;
}

body[data-header-color="dark"] #header-secondary-outer .nectar-center-text a {
	color: #fff;
}

#header-outer[data-lhe="animated_underline"] #top nav > ul > li > a:after {
	border-color: #98c354;
}

p{
	color: #000;
}

#footer-outer #footer-widgets .col p {
    padding-bottom: 20
px
;
    color: #fff;
}

.nectar_icon {
    background: #98c354;
}

.nectar-flickity[data-controls*="arrows_overlaid"] .flickity-prev-next-button:before {
	background-color: #98c354 !important;
}

.nectar-flickity[data-controls*="arrows_overlaid"] .next:after {
    background-color: #fff !important;
}



.nectar-flickity[data-controls*="arrows_overlaid"] .flickity-prev-next-button .arrow {
    fill: #fff !important;
}

.nectar-flickity[data-controls*="arrows_overlaid"] .previous:after, .nectar-flickity[data-controls*="arrows_overlaid"] .next:after {
    background-color: #fff !important;

}